.delivery {
    background: url(../../image/Untitled.png) center bottom no-repeat, #181818;
    color: #fff;
    padding-bottom: 85px;
}
.delivery__title {
    color: inherit;
    padding-top: 68px;
    margin-bottom: 55px;
}
.delivery__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.delivery__column {
    width: calc(50% - 13px);
}
.delivery__block {
    display: flex;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}
.delivery__item {
    flex: 1;
    margin-right: 16px;
    &:last-child {
        margin-right: 0;
    }
}
.delivery__item-title {
    margin-bottom: 3px;
}
.delivery__item-input {
    width: 100%;
    height: 60px;
    border: 3px transparent solid;
    border-radius: 5px;
    &:focus {
        border-color: #E01F3D;
        outline: none;
    }
}
.delivery__item-input--textarea {
    width: 450px;
    height: 150px;
    resize: none;
    margin-bottom: 20px;
}
.delivery__select {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    &:nth-child(3) {
        margin-bottom: 47px;
    }
}
.delivery__radio {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 18px;
    &:last-child {
        margin-right: 0;
        margin-top: 5px;
    }
}
.delivery__radio-input {
    display: none;

    &:checked ~ .delivery__radio-fake {
        &::after {
            display: block;
        }

    }
}
.delivery__radio-fake {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    margin-right: 10px;
    position: relative; 
    &::after {
        content: '';
        width: 13px;
        height: 13px;
        background: #E01F3D;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
}
.delivery__radio--check .delivery__radio-fake{
    border-radius: 5px;
    &::after {
        background: url(../../image/checkmark.png) center center no-repeat;
    }
}
.delivery__button {
    & .button {
        margin-right: 15px;

    }
}