.reviews {
  padding-bottom: 63px;
  position: relative;
}
.reviews:after {
  content: url(../../image/reviews.png);
  position: absolute;
  left: 500px;
  bottom: -25px;
}

.reviews__title {
  padding-top: 68px;
  margin-bottom: 32px;
}

.reviews__content {
  background: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 42px;
  margin-bottom: 15px;
}

.reviews__feedback {
  padding: 32px 60px 21px 40px;
}

.reviews__feedback-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 27px;
}

.reviews__feedback-text {
  color: #666666;
  margin-bottom: 40px;
}

.reviews__feedback-name {
  font-size: 18px;
  font-weight: 700;
}

.reviews__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.revoews__select-item {
  width: 74px;
  height: 74px;
  margin-right: 6px;
}
.revoews__select-item:last-child {
  margin-right: 0;
}

.revoews__select-item--active {
  border: 4px solid #E01F3D;
  border-radius: 50%;
}

.reviews__select-image {
  width: 100%;
  height: 100%;
}