.reviews {
    padding-bottom: 4rem;
    position: relative;
    &:after {
        content: url(../../image/reviews.png);
        position: absolute;
        left: 10%;
        bottom: -2%;
    }
}
.reviews__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reviews__title {
    padding-top: 4.2rem;
    margin-bottom: 2rem;
}
.reviews__content {
    background: #F8FAF9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7rem;
    margin-bottom: 1rem;
}
.reviews__feedback {
    padding: 2rem 3.7rem 1.3rem 2.5rem;
}
.reviews__feedback-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.7rem;
}
.reviews__feedback-text {
    color: #666666;
    margin-bottom: 2.5rem;
}
.reviews__feedback-name {
    font-size: 1.1rem;
    font-weight: 700;
}
.reviews__select {
    display: flex;
    justify-content: center;
}
.revoews__select-item {
    cursor: pointer;
    width: 4.6rem;
    margin-right: 0.4rem;
    &:last-child {
        margin-right: 0;
    }
}
.revoews__select-item--active {
    border: 0.25rem solid #E01F3D;
    border-radius: 50%;
}
.reviews__select-image {
    width: 100%;
    height: 100%;
}
